<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="ServiceName" value="TestService"/>
    <add key="LoginTimeout" value="10"/>
  </appSettings>

  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="./Login.svc" service="ServiceHost.Contracts.LoginContract"/>
        <add relativeAddress="./Exchange.svc" service="ServiceHost.Contracts.ExchangeContract"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <!--Биндинги-->
    <bindings>
      <netTcpBinding>
        <binding name="Contracts.ILoginContract"
                 openTimeout="00:00:05"
                 closeTimeout="00:00:05"
                 sendTimeout="00:00:05"
                 receiveTimeout="00:00:05">
          <security mode="None" />
          <reliableSession enabled="true"
                           inactivityTimeout="00:10:00" />
        </binding>
        <binding name="Contracts.IExchangeContract"
                 openTimeout="00:00:05"
                 closeTimeout="00:00:05"
                 sendTimeout="00:00:05"
                 receiveTimeout="00:00:05">
          <security mode="None" />
          <reliableSession enabled="true"
                           inactivityTimeout="00:10:00" />
        </binding>
      </netTcpBinding>
    </bindings>
    <!--Сервиса-->
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="ServiceHost.Contracts.LoginContract">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="Contracts.ILoginContract" name="Contracts.ILoginContract" contract="ServiceHost.Contracts.ILoginContract"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://*:52530/Login"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="ServiceHost.Contracts.ExchangeContract">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="Contracts.IExchangeContract" name="Contracts.IExchangeContract" contract="ServiceHost.Contracts.IExchangeContract"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://*:52530/Exchange"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <!--Клиенты-->
    <client>
      <endpoint behaviorConfiguration="LoginClientBehavior"
        binding="netTcpBinding"
        bindingConfiguration="Contracts.ILoginContract" contract="ServiceHost.Contracts.ILoginContract"
        name="Endpoint" />
      <endpoint behaviorConfiguration="ExchangeClientBehavior"
        binding="netTcpBinding"
        bindingConfiguration="Contracts.IExchangeContract" contract="ServiceHost.Contracts.IExchangeContract"
        name="Endpoint" />
      <endpoint address="net.tcp://localhost:52530/Login"
        binding="netTcpBinding" bindingConfiguration="Contracts.ILoginContract"
        contract="ServiceHost.Contracts.ILoginContract" name="LoginService.ILoginContract" />
      <endpoint address="net.tcp://localhost:52530/Exchange"
        binding="netTcpBinding" bindingConfiguration="Contracts.IExchangeContract"
        contract="ServiceHost.Contracts.IExchangeContract" name="Contracts.IExchangeContract" />
    </client>
    <!--Поведения-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetUrl="false" httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="LoginClientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="10000000"/>
        </behavior>
        <behavior name="ExchangeClientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="10000000"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>