<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="ServiceName" value="TestService"/>
  </appSettings>

  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="./Login.svc" service="Sender.LoginService.LoginContract"/>
        <add relativeAddress="./File.svc" service="Sender.LoginService.FileContract"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <!--Биндинги-->
    <bindings>
      <netTcpBinding>
        <binding name="Contracts.ILoginContract"
                 openTimeout="00:00:05"
                 closeTimeout="00:00:05"
                 sendTimeout="00:00:05"
                 receiveTimeout="00:00:05">
          <security mode="None" />
          <reliableSession enabled="true"
                           inactivityTimeout="00:10:00" />
        </binding>
        <binding name="Contracts.IFileContract"
                 openTimeout="00:00:05"
                 closeTimeout="00:00:05"
                 sendTimeout="00:00:05"
                 receiveTimeout="00:00:05">
          <security mode="None" />
          <reliableSession enabled="true"
                           inactivityTimeout="00:10:00" />
        </binding>
      </netTcpBinding>
    </bindings>
    <!--Клиенты-->
    <client>
      <endpoint address="net.tcp://localhost:52530/Login"
        binding="netTcpBinding"
        bindingConfiguration="Contracts.ILoginContract" contract="LoginService.ILoginContract"
        name="LoginService.ILoginContract" />
      <endpoint address="net.tcp://localhost:52530/File"
        binding="netTcpBinding" bindingConfiguration="Contracts.IFileContract"
        contract="FileService.IFileContract" name="Contracts.IFileContract" />
    </client>
    <!--Поведения-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="LoginClientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="10000000"/>
        </behavior>
        <behavior name="FileClientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="10000000"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>